* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #e7e414;

}

main {
    background-color: rgb(235, 243, 245);
    width: 50%;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

h1 {
    font-size: 2em;
    color: rgb(22, 11, 65);
}

h2 {
    font-size: 1.5em;
    color: rgb(22, 11, 65);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}